<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grandes Premios
    </ion-title>
  </ion-toolbar>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
</ion-header>
<ion-content>
  <ion-datetime-button datetime="datetime"></ion-datetime-button>
  <ion-img  src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2022/04/calendario-motogp-2022-2686165.jpeg?itok=LRAQLXmT"></ion-img>
  <ion-list>
    <ion-list-header>
      <ion-label>GP de Qatar</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>GP de Indonesia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Argentina</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de las Américas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Portugal</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de España</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Francia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Italia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Cataluña</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Alemania</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Países Bajos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Finlandia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Gran Bretaña</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Austria</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de San Marino</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Aragón</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Japón</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>GP de Valencia</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
<ion-footer>
  
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Antonio Aridany González Negrín</ion-label>
  </ion-item>
</ion-footer>
